/* style.css */
body {
    margin: 30px;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 1em;
}

.container {
    margin-top: 30px;
}

#buttonGrid {
    box-shadow: 2px 2px 4px #DCDCDC;
    border: 5px solid #f9f9f9;
    width: 450px;
    margin: 0 auto;
}

.button {
    z-index: 1;
    border: 5px solid transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    margin: 25px;
    float: left;
    text-align: center;
    font-size: 3em;
    background: rgb(239, 239, 239);
}

.button .dot {
    border: 1px solid #606060;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    margin: 35px;
}

#buttonGrid.error .button .selected {
    border-color: #E9021E;
}

.notification {
    text-align: center;
    width: 428px;
    padding: 12px;
    height: 10px;
    background-color: #F9F9F9;
    font-size: 0.75em;
    margin: 30px auto 0;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.horizonatal-lines, .vertical-lines, .diagonal1-lines, .diagonal2-lines {
    position: absolute;
    width: 450px;
}

.h-lines, .v-lines, .d1-lines, .d2-lines {
    background: #00FFFF;
    height: 2px;
    width: 170px;
    display: block;
    float: left;
    visibility: hidden;
}

.h-lines {
    margin: 75px -182px 77px 165px
}

.v-lines {
    height: 170px;
    width: 2px;
    margin: 70px -27px -87px 175px
}

.d1-lines {
    height: 220px;
    width: 2px;
    -ms-transform: rotate(43deg); /* IE 9 */
    -webkit-transform: rotate(43deg); /* Chrome, Safari, Opera */
    transform: rotate(43deg);
    margin: 43px -101px -109px 250px
}

.d2-lines {
    height: 220px;
    width: 2px;
    -ms-transform: rotate(-43deg); /* IE 9 */
    -webkit-transform: rotate(-43deg); /* Chrome, Safari, Opera */
    transform: rotate(-43deg);
    margin: 42px -101px -106px 250px
}

.clear {
    clear: both;
}

.pattern-btn {
    background: blue;
    display: block;
    width: 53px;
    height: 53px;
    float: left;
    margin: 16px;

}

.pattern-btn.active {
    background: red;
}

.lines {
    z-index: -1;
    position: relative;
    left: -100px;
}

@media only screen and (max-width: 500px) {
    body {
        margin: 0 auto;
    }

    .horizonatal-lines, .vertical-lines, .diagonal1-lines, .diagonal2-lines {
        width: 320px;
    }

    .notification {
        width: 320px;
    }

    #buttonGrid {
        box-shadow: none;
        border: none;
        width: 320px;
    }
    .button {
        width: 45px;
        height: 45px;
        margin: 25px;
    }
    .button .dot {
        width: 18px;
        height: 18px;
        margin: 13px;
    }
    .h-lines {
        width: 100px;
        margin: 55px -110px 47px 145px
    }
    .v-lines {
        height: 100px;
        margin: 50px -55px -17px 155px;
    }
    .d1-lines {
        height: 120px;
        margin: 50px -100px -59px 205px
    }
    .d2-lines {
        height: 120px;
        margin: 60px -95px -90px 200px
    }

}